.homePage {
  width: 100vw;
  height: 100vh;
  background-image: url('../Asset/man-wearing-watch.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: var(--fontFamily);
  overflow: hidden; /* Hide any overflow */
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.sales-pitch {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

/* Rest of your CSS remains the same */
.box-grid{
  display: flex;
  justify-content: center;
}
.box1, .box2{
  border: .1px solid none;
  margin: .1rem;
}
.watch-grid{
  padding: .5rem;
}
.box1, .box2{
  gap: .3rem;
  background-color: rgba(231, 155, 14, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: .2rem .1rem rgb(63, 42, 3);
}
.rating, .price{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  flex: 1;
  color: orange;
}
.sales-pitch-text{
  width: 100%;
  background-color: rgb(58, 19, 6, .8);
  padding: .4rem;
  border-radius: .4rem;
}
.desc{
  text-align: center;
  font-size: 1rem;
  padding: .2rem;
}
.img-box{
  width: 150px;
  height: fit-content;
}