/* Toggle button */
.nav-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1031;
  background: none;
  border: none;
  color: orangered;
  font-size: 1.5rem;
  cursor: pointer;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Added opacity transition */
}

/* Adjust the position when nav is open */
.nav-toggle-open {
  left: 50%; /* Move left by 50% when the menu is open */
  opacity: 0; /* Hide the icon when the menu is open */
  pointer-events: none; /* Prevent interactions when hidden */
}

/* Custom styles for the sliding menu */
.custom-offcanvas {
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1030;
}

/* Button to close the offcanvas */
.close-offcanvas {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: orangered;
  cursor: pointer;
  z-index: 1040;
}

.nav-grid{
  height: 100vh;
  padding-top: 6rem;
}
.motion-grid{
  margin-top: 1rem;
  padding: .9rem;
}
/* Nav link styles */
.nav-link {
  color: #fff;
  padding: 1rem 0;
  transition: color 0.3s ease;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover {
  color: orangered;
}